@media only screen and (min-width: 767px) and (max-width: 1225px) {

    .about_pic{
    padding-top: 20%;
    display: block;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;

    }

    .content p {
        font-size: 1.06em;
        line-height: 1.7em;
        font-weight: light;
    }

    .work {
        padding-right: 2%;
        /*8%*/
        padding-left: 2%;
    }

    .content li {
        line-height: 1.7em;
        font-size: 1.06em;
    }

    .centered h1 {
        color: #fff;
        font-size: 1.5em;
    }

    .centered h2 {
        color: #fff;
        font-size: 1.1em;
    }

    .top_left {
        position: absolute;
        top: 45%;
        /*17%*/
        left: 4.5%;
        /*transform: translate(-50%, -50%);*/
        z-index: 1;
    }


    .top_left h1 {
/*        margin-top: 3.2em;*/
        font-size: 1.5em;
    }


    .top_left h2 {
        font-size: 1.1em;
    }

    .top_left p {
        font-size: 1em;
        font-weight: lighter;
    }

    .main-content {
        padding-top: 2em;
    }

    /*  .top-nav ul li a.pre, .top-nav ul li a.nxt{
        visibility: hidden;
    }

    .top-nav ul li a.pre:after{
        visibility: visible;
        content:"<<";
    }

    .top-nav ul li a.nxt:before{
        visibility: visible;
        content:">>";
    }*/
    h1 {
        font-size: 1.85em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.35em;
        line-height: 1.8em;
    }

    h4 {
        font-size: 1.5em;
        margin-bottom: 0.2em;
    }

    h5 {
        font-size: 1.1em;
        /*font-weight: lighter;*/
        /*padding-top: 0.2em;*/
    }

    h6 {
        font-size: 0.93em;
    }

    .top-nav ul li,
    .menu-icon {
        display: inline-block;
        margin-left: auto;
        border-top: none;
        /*1px solid #FF0000*/
    }

    .top-nav ul {
        text-align: center;
        /*border-top: 1px red solid;*/
        padding: 0.5em; /*0.8em*/
        /*new*/
    }

    /*.top-nav ul:before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 1%;
    }

    .top-nav ul:after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 1%;
    }*/

    /*Open img*/
    .intro {
        /*padding-top: 8.5em;*/
        padding-top: 15em;
    }

    .cover {
        padding-top: 5.4em; /*6em*/
        padding-bottom: 0.8em;
    }

    .cover img {
        padding-bottom: 0;
    }

    .work {
        padding-top: 10em;
    }

    /*.intro br {
        line-height: 1em;
    }*/

    .photo-cell img {
        width: 100%;
        padding-right: 5%;
    }

    /*  #caption1, #caption2{
        width: 45%;
    }*/
    .photo-grid {
        display: inline-block;
        width: 48.5%;
        padding-right: 1%;
        padding-bottom: 1%;
    }



    .photo_des p {
        padding-bottom: 4%;
        text-decoration: none;
    }


    .photo-grid #item1,
    #item3,
    #item5,
    #item7,
    #item9,
    #g1,
    #g3,
    #g5,
    #g7,
    #g9 {
        padding-left: 1%;
    }

    div {
        display: block;
    }

    .content {
        padding-left: 3em;
        /*8em*/
        padding-right: 3em;
    }

    .overview {
        width: 100%;
        display: inline-flex;
    }

    .group1,
    .group2 {
        width: 100%;
        display: block;
    }

    #graphic {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        padding-bottom: 0em;
        line-height: 2.9em; /*2em*/
    }

    #graphic p {
        padding-bottom: 2em;
    }

    .graphic {
        padding-top: 2em;
    }

    .order {
        margin: auto;
    }

    /*  #item1, #item2, #caption1, #caption2{
        width: 47%;
        display: inline-block;
    }*/
    /*  .photo-list{
        width: 100%;
    }*/

    .navbar-toggle {
        display: none;
    }

    .main-nav {
        display: block;
    }

    #js-menu li{
        line-height: 1.2em;
    }


}

@media only screen and (min-width: 1225px) {

    .about_pic{
    padding-top: 2.2em;
    float:left;
    max-width: 40%;
    }

    .bio{
        padding-top: 2.5em;
        padding-left: 48%;
    }

    .bio h1{
        margin-top: 0;
    }

    /*.bio h2{
        margin-bottom: 0;
    }*/

    .bio h4{
        padding-top: 1em;
    }


    .work {
        padding-right: 0.5%;
        padding-left: 1%;
    }

    .content p {
        font-size: 1em;
        line-height: 1.8em;
        font-weight: light;
        /*margin-top: 0.1em;*/
        /*margin-bottom: 0.25em;*/
        /*new*/
    }


    .content ol {
        margin-top: 0em;
        /*new*/
        padding-top: 0em;
    }

    .content li {
        line-height: 1.8em;
        font-size: 1em;
    }

    .centered h1 {
        color: #fff;
        font-size: 1.8em;
    }

    .centered h2 {
        color: #fff;
        font-size: 1.3em;
    }


    .top_left {
        position: absolute;
        top: 40%; /*35%*/
        /*14%*/
        left: 11%;
        /*transform: translate(-50%, -50%);*/
        z-index: 1;
    }

    .top_left h1 {
        /*margin-top: 3.2em;*/
        font-size: 2em;
    }

    .top_left h2 {
        font-size: 1.5em;
    }

    .top_left p {
        font-size: 1.2em;
        font-weight: lighter;
    }

    .cover img {
        padding-bottom: 1em; /*3em*/
        padding-top: 1.25em;
    }


    .main-content {
        padding-top: 2.8em;
    }


    /*  .top-nav ul li a.pre, .top-nav ul li a.nxt{
        visibility: hidden;
    }

    .top-nav ul li a.pre:after{
        visibility: visible;
        content:"<<";
    }

    .top-nav ul li a.nxt:before{
        visibility: visible;
        content:">>";
    }*/
    /*ul{
        margin: 0.5em;
    }

    li{
        line-height: 1.7em;
        font-size: 1.5em;
    }*/
    h1 {
        font-size: 1.85em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.45em;
        line-height: 1.8em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.1em;
        /*font-weight: lighter;*/
        /*padding-top: 0.2em;*/
    }

    h6 {
        font-size: 0.98em;
        line-height: 1.5em;
        padding-top: 0.5em;
    }


    .logo {
        float: left;
        height: 70%;
    }

    /*  .top-nav {
        display: flex;
        align-items: center;
    }*/
    .top-nav ul li {
        display: inline-block;
        border-top: none;
        margin-top: 3.5%;
    }

    /*new*/
    .top-nav ul {
        padding: 0;
    }


    #menu {
        float: right;
        text-align: right;
        width: auto;
        position: absolute;
        right: 0px;
    }

    li a:hover {
        color: #DCDDDD !important;
    }

    /*  nav #topnav{
        z-index: 1030;
    }*/
    /*  h3{
        font-size: 0.8em;
        margin-bottom: 0.3em;
    }
    h4{
        font-size: 0.6em;
        font-weight: normal;
        margin: 0em 0em 1em 0em;
    }*/
    .top-nav .logo {
        float: left;
    }

    /*  div .photo-grid{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }

    .photo-cell{
        width: 30%; 
        display: inline-block;
        float: left;
        z-index: 2;
    }*/
    /*Open img*/
    .intro {
        padding-top: 8em;
        /*0em*/
    }


    .work {
        padding-top: 9em;
    }


    .photo-cell img {
        width: 100%;
        padding-right: 5%;
    }

    /*  #caption1, #caption2{
        width: 45%;
    }*/
    .photo-grid {
        display: inline-block;
        width: 30%;
        padding-right: 1%;
        padding-bottom: 2%;
    }

    .photo-list {
        padding-bottom: 2%;
    }


    /*.graphic-cell img {
        width: 100%;
        padding-right: 5%;
    }

    .graphic-grid {
        display: inline-block;
        width: 30%;
        padding-right: 1%;
        padding-bottom: 1%;
    }*/

    /*.photo-grid #item1,
    #item4, #g1, #g4 {
        padding-left: 1%;
    }*/



    /*.photo-grid #item1,
    #item4,
    #g1,
    #g4 {
        padding-left: 1%;
    }*/

    div {
        display: block;
    }

    .content {
        padding-left: 10em;
        /*9em*/
        padding-right: 10em;
    }



    .overview {
        width: 100%;
        display: inline-flex;
        padding-bottom: 1em;
    }

    .group1,
    .group2 {
        width: 50%;
        display: inline-flex;
    }

    #info1 {
        width: 108%;
    }

    .info {
        padding-bottom: 0.4em;
        padding-left: 0.1em;
        margin-right: auto;
        margin-left: auto;
    }

    #info2 {
        width: 83%;
    }

    #info1,
    #info3 {
        width: 90%;
    }

    #info4 {
        width: 83%;
    }


    /*TEST*/
    #graphic {
        line-height: 2.82em; /*2em*/

        -webkit-column-count: 3;
        -webkit-column-gap: 1em;
        -moz-column-count: 3;
        -moz-column-gap: 1em;
        column-count: 3;
        column-gap: 1em;
        padding-bottom: 3em;
    }

    .order {
        margin: auto;
    }

    .navbar-toggle {
        display: none;
    }

    .main-nav {
        display: block;
    }

    #js-menu li{
        line-height: 1.2em;
        padding-top: 0.5em;
    }




    /*#graphic {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }*/


    /*  #item3, #item4{
        width:21.25%;
        display: inline-block;
    }*/
    /*  div .photo-grid{
        display: inline-block;
        position: relative;
    }*/
    /*.caption*/
    /*  #item1, #caption1 {
        margin-top: 0;
        margin-right:0;
        width: 33%;
        display: flex;
        flex-direction: column;
    }
*/
    /*  #item1, #item2{
        display: inline-block;
        width: 33%;
    }*/
}